<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9691f8">  <td>22/03/24 19:19:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentAppendix.SavePaymentAppendixData()[pri:0, instance:FNRF.Test.PaymentAppendix@21129f1f]">SavePaymentAppendixData</td> 
  <td>main@1777443462</td>   <td></td> </tr>
<tr bgcolor="9691f8">  <td>22/03/24 19:18:08</td>   <td>-62086</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PaymentAppendix.initWebDriver()[pri:0, instance:FNRF.Test.PaymentAppendix@21129f1f]">&gt;&gt;initWebDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1777443462</td>   <td></td> </tr>
</table>
